<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Hisory View</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Memo Indicator</string>
			<key>Key</key>
			<string>memo_indicator</string>
			<key>Values</key>
			<array>
				<string>✿</string>
				<string>✸</string>
				<string>❊</string>
				<string>❂</string>
			</array>
			<key>Titles</key>
			<array>
				<string>✿</string>
				<string>✸</string>
				<string>❊</string>
				<string>❂</string>
			</array>
			<key>DefaultValue</key>
			<string>✿</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Export</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>export_health</string>
			<key>Title</key>
			<string>Export to Health</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>export_calender</string>
			<key>Title</key>
			<string>Export to Calender</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>Spiritual Diary</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>calender_title</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Calender Title</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>About</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Copyright © 2016 goozenlab All Rights Reserved.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>DefaultValue</key>
			<string>1.0</string>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>app_version_number</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Title</key>
			<string>Build</string>
			<key>Key</key>
			<string>app_build_number</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
